body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: #444;
    font-family: Arial, Helvetica, sans-serif;
}
#body {
    position: absolute;
    height: 100%;
    width: 60%;
    background: #444;
}
#map {
    position: absolute;
    user-select: none;
    aspect-ratio: 1 / 1;
    border-collapse: collapse;
    table-layout:fixed;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
td, tr {
    padding: 0;
    width: auto;
    height: auto;
    content: empty;
    cursor: pointer;
    user-select: none;
    
    background-size:     cover, cover, cover, cover !important;                      /* <------ */
    background-position: center center, center center, center center, center center;              /* optional, center the image */
    background-attachment: fixed, fixed, fixed, fixed;
}
td:hover {
    outline: 1px solid gold !important;
}

#rightSide {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 40%;
}




#rstop {
    height: 60%;
}
#rsbottom {
    height: 40%;
}
#rsbTopBar {
    width: 100%;
    color: white;
    height: 40px;
    background: #999;
    line-height: 40px;
    text-align: center;
    user-select: none;
    font-size: 30px;
}
#rsbLeft {
    height: 100%;
    width: 50%;
    background: #ddd;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    float: left; 
}
#rsbRight {

    height: 100%;
    width: 50%;
    background: #ddd;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    float: left; 
}
#rsbrTopBar {
    width: 100%;
    height: 40px;
    background: #777;
    user-select: none;
    transition: background .2s;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#rsbrCanvas {
    display: inline-block;
    vertical-align: top;
}
#rsbrMapName {
    line-height: 40px;
    color: white;
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
}
#rsblIMG {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
}
#rsblMapName {
    line-height: 40px;
    color: white;
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
}


.atrHolder {
    padding: 5px;
    font-size: 20px;
    user-select: none;
    background: lightblue;
    display: block;
}
.atrName {
    display: inline-block;

}
.atrClick {
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
    transition: color .2s;
}
.atrClick:hover {
    color: white;

}
.atrNoclick {
    color: #777;
    margin-left: 10px;
    display: inline-block;
}


#rsblBody {
    padding: 10px;
}
#rsblAttributes {
    background: #4aa;
}
#rsblaHeader {
    background: #399;
    color: white;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    user-select: none;
}
#rsblaBody {
    overflow-y: auto; 
    max-height: 250px;
}


#rsbrBody {
    padding: 10px;
}
.rsbrOption {
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    color: white;
    font-size: 20px;
    transition: background .5s;
    user-select: none;
    padding-left: 10px;
}
.rsbrOption:hover {
    background: #555 !important;
}
#rsbrRename {
    background: #959;

}
#rsbrClone {
    background: #599;
}
#rsbrDelete {
    background: #955;

}
#rsbrHardSave {
    background: #595;

}
#rsbrHardLoad {
    background: #559;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#rsbrFillTiles {
    background: #995;
}




#saves {

    height: 100%;
    width: 50%;
    background: #555;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    float: left; 
}
#savesHeader {
    width: 100%;
    background: #925;
    height: 40px;
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    user-select: none;
}
#savesList {
    margin-top: 40px;
    width: 100%;
    height: 86%;
}
#savesBottom {
}
#saveOpt {
    cursor: pointer;
    width: 33.33333333333333333333333333333%;
    height: 40px;
    font-weight: bold;
    font-size: 100%;
    color: white;
    text-align: center;
    line-height: 40px;
    user-select: none;
    background: #433;
    transition: background .2s;
    float: left;
    overflow: hidden;
}
#saveOpt:hover {
    background: #322;
}


.displayT {
    display: none;
}
#layer {
    width: 100%;
    background: #337;
    height: 40px;
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    user-select: none;
}
.header {
    cursor: pointer;
    width: 25%;
    height: 40px;
    font-weight: bold;
    font-size: 100%;
    color: white;
    text-align: center;
    line-height: 40px;
    user-select: none;
    background: #333;
    transition: background .2s;
    float: left;
}
.plain {
    background: #333;

}
.plain:hover {
    background: #444;
}

.cool {
    background: #555;
}
#rightBar {
    position: relative;
    height: 100%;
    width: 50%;
    background: #555;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    float: left; 
}
#bottom {
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 40px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#extraBottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}
.extBot {
    cursor: pointer;
    width: 25%;
    height: 40px;
    font-weight: bold;
    font-size: 100%;
    color: white;
    text-align: center;
    line-height: 40px;
    user-select: none;
    float: left;
    transition: background .1s;
}
.extBotShow {
    background: #77DD77
}
.extBotShow:hover {
    background: #6c6;
}
.extBotHide {
    background: #FF6961;
}
.extBotHide:hover {
    background: #e55;
}
#optholder {
    width: 100%;
    height: 40px;
    background: #777;
    cursor: pointer;
    user-select: none;
    transition: background .2s;
    display: block;
}
#optimgHolder {
    aspect-ratio: 1 / 1;
    height: 100%;
    width: auto;
    float: left;
}
#optimgHolder img {
    height: 100%;
    width: auto;
}
#opttext {
    line-height: 40px;
    color: white;
    margin-left: 50px !important;
    font-weight: bold;
    font-size: 20px;
}
#optholder:hover {
    background: #888;

}


#savesHolder {
    width: 400px;
    height: 40px;
    background: #777;
    cursor: pointer;
    user-select: none;
    transition: background .2s;
}
#savesHolder:hover {
    background: #888;
}
#SelectedHolder {
    width: 400px;
    height: 40px;
    background: #999;
    cursor: pointer;
    user-select: none;
    transition: background .2s;
}
.savesCanvas {
    display: inline-block;
    vertical-align: top;
}
#savesName {
    line-height: 40px;
    color: white;
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
}
#savesDelete {
    background: #955;
    cursor: pointer;
    user-select: none;
    text-align: center;
    color: white;
    line-height: 40px;
    padding-left: 4px;
    padding-right: 4px;
    transition: background .2s;
    float:right;
}
#savesDelete:hover {
    background: #633;
}

#hardSavef {
    background: #595;
    cursor: pointer;
    user-select: none;
    text-align: center;
    color: white;
    line-height: 40px;
    padding-left: 4px;
    padding-right: 4px;
    transition: background .2s;
    float:right;
}
#hardSavef:hover {
    background: #363;
}

#hardLoadF {
    background: #559;
    cursor: pointer;
    user-select: none;
    text-align: center;
    color: white;
    line-height: 40px;
    padding-left: 4px;
    padding-right: 4px;
    transition: background .2s;
    float:right;
}
#hardLoadF:hover {
    background: #336;
}

